.member_container{
    position: relative;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;

    padding: var(--pad);
    max-width: 668px;
    padding-top: 2rem;
    margin: auto;
    width: 100%;
}
.member_container > h2{
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-font-size);
    padding-bottom: 1rem;
    text-align: center;
    word-break: break-all;
    text-transform: capitalize;
    word-wrap: break-word;
}
.member_container > p{
    font-size: var(--text-size);
    font-weight: var(--font-weight);
    line-height: var(--text-size);
    text-align: justify;
    word-break: break-all;
    word-wrap: break-word;
}
@media screen and (max-width: 768px) {
    .member_container > h2{
        font-size: var(--md-heading-font-size);
        font-weight: var(--md-heading-font-weight);
        line-height: var(--md-heading-font-size);
    }
    .member_container > p{
        font-size: var(--md-text-size);
        font-weight: var(--font-weight);
        line-height: var(--md-text-size);
    } 
  }
  @media screen and (max-width: 576px) {
    .member_container > h2{
        font-size: var(--sm-heading-font-size);
        font-weight: var(--sm-heading-font-weight);
        line-height: var(--sm-heading-font-size);
    }
    .member_container > p{
        font-size: var(--sm-text-size);
        font-weight: var(--font-weight);
        line-height: var(--sm-text-size);
    } 
  }