*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --btn-bg-color:#FAA919;
  --btn-padding:12px 24px;
  --md-btn-padding:8px 16px;
  --btn-color:#fff;
  --btn-font-size:16px;
  --text-size:20px;
  --md-text-size:14px;
  --md-btn-font-size:14px;
  --font-icon-size:20px;
  --border-radius:18px;
  --pad:12px;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
